<nav class="layout">
    <ul>
        <li>
            <a href='@Url.Action("Index", "Home")'><img src="bandera_arg.webp" alt="Bandera Argentina"></a>
        </li>
        <li>
            <a href='@Url.Action("Elecciones", "Home")'>Elecciones 2023</a>
        </li>
        <li>
            <a href='@Url.Action("Creditos", "Home")'>Creditos</a>
        </li>
    </ul>
</nav>