<nav class="layout">
    <table>
        <tr>
            <a href='@Url.Action("Index", "Home")'><img src="bandera_arg.webp" alt="Bandera Argentina"></a>
        </tr>
        <tr>
            <a href='@Url.Action("Elecciones", "Home")'>Elecciones 2023</a>
        </tr>
        <tr>
            <a href='@Url.Action("Creditos", "Home")'>Creditos</a>
        </tr>
    </table>
</nav>