@{
    ViewData["Title"] = "Agregar Candidato";
    Layout = "_Layout";
}
<h1>Informacion sobre las elecciones</h1>
<h3>@ViewBag.explicacionElecciones</h3>
<img src="generales.png" alt="Generales">
<img src="paso.webp" alt="PASO">