@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="text-center">
    <div class="card">
        <h2>Juntos por el cambio</h2>
       <table>
        <tr><img src="juntos_por_el_cambio.png" alt="Logo Juntos por el cambio"></tr>
        <tr><a href='@Url.Action("VerDetallePartido", "Home")'>Detalles del partido</a></tr>
       </table>
    </div>
    <div class="card">
        <h2>Union por la patria</h2>
        <table>
            <tr><img src="Union_por_la_Patria.png" alt="Logo Union por la Patria"></tr>
            <tr><a href='@Url.Action("VerDetallePartido", "Home")'>Detalles del partido</a></tr>
        </table>
    </div>
    <div class="card">
        <h2>Frente de izquierda</h2>
        <table>
            <tr><img src="frente_de_izquierda.png" alt="Logo Frente de izquierda"></tr>
            <tr><a href='@Url.Action("VerDetallePartido", "Home")'>Detalles del partido</a></tr>
        </table>
    </div>
    <div class="card">
        <h2>La libertad avanza</h2>
        <table>
            <tr><img src="Logo_La_Libertad_Avanza.png" alt="Logo Libertad Avanza"></tr>
            <tr><a href='@Url.Action("VerDetallePartido", "Home")'>Detalles del partido</a></tr>
        </table>
    </div>
</div>

